<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>用户信息一览</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.jp/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    
<script type="text/javascript">
		$(document).ready(function () {
			$("#btn1").on('click',function(){
				$.ajax({
					url:"/addCountry",
					type:"post",
					data:$("#fm1").serialize(),
					success:function(data){			
					alert("添加成功");
					},					
					error:function(){
						alert("添加失败");
					}
				});
			});
		});
	</script>




</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-cssgrid">
    <!--使用thymeleaf标签, 循环显示对象属性-->
    <table border="1">
        <tr>
            <form action="#" id="fm1" th:action="@{/addCountry}" th:object="${countryForm}" method="post">
        <table class="g-3">
            <tr>
                <td>国家ID:</td>
                <td><input type="text" class="form-control" th:field="*{mstcountrycd}" />
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('mstcountrycd')}" th:errors="*{mstcountrycd}"></span>
                </td>
            </tr>
            <tr>
                <td>国家名:</td>
                <td><input type="text" class="form-control" th:field="*{mstcountrynanme}" />
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('mstcountrynanme')}"
                        th:errors="*{mstcountrynanme}"></span>
                </td>
            </tr>
        
            <tr>
                <td colspan="2"><button type="button" id="btn1" class="btn btn-primary">提交</button></td>
            </tr>
            
            
        </table>
       </form>
        </tr>
    </table>
    
    
  
</body>
</html>
